body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0%;
    font-family: "Helvetica Neue";
    font-weight: 100;
    color: rgb(28,28,30);
    background: rgb(250,250,250);
    text-align: center;
}
#page {
    margin: 0% 12% 2% 12%;
}
#overlay {
    position: fixed;
    top: 0vh;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    background: inherit;
    display: none;
    /*flex-direction:column;*/
    justify-content: center;
    align-items: center;
}
#overlay_frame {
    top: 33vh;
    object-fit: contain;
}
#overlay_img {
    object-fit: contain;
    max-width: 95vw;
    height: 95vh;
    justify-content: center;
    justify-items: center;
    border-radius: 0px;
}
.header {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    top: 0;
    height: 4vh;
    margin-top: 1vh;
    margin-bottom:3vh;
}
.header #header_left {
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}
.header #header_right {
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}
.header #instagram_link {
    width: 1em;
    margin-left: 1em;
}
.header #mode_switch {
    width: 1em;
}
.header #home {
    margin-right: 0px;
    font-size: 1em;
    letter-spacing: 0em;
    font-weight: 300;
}
.header a {
    text-decoration: none;
    color: inherit;
}
.header #h1_photos {
    font-size: 1.6em;
    font-weight: 600;
}
#menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
#menu .frame {
    width: 20%;
    height: auto;
}
#content {
    display: none;
    flex-direction: row;
    align-items: flex-start;
    margin: 0% 10% 0% 10%;
    height: 85vh;
    overflow: auto;
}
#content a {
    margin: 0vw 2vw 0vw 2vw;
}
#photos_scroll {
    overflow: auto;
    width: 80%;
    height: 100%;
}
#photos {
    width: auto;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#photos div {
    width: 100%;
    margin-bottom: 4%;
}
#thumbs_scroll {
    overflow: auto;
    height: 100%;
    width: 15%;
    margin-left: 5%;
}
#thumbs {
    width: auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#thumbs div {
    width: 100%;
    margin-bottom: 10%;
}
.frame div {
    justify-content: center;
    justify-items: center;
}
.frame img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    justify-content: center;
    border-radius: 0px;
}
#menu .frame img {
    object-fit: cover;
    width: 98%;
    border-radius: 10px;
}

/*@media screen and (max-width: 980px) {
    body {
        margin: 3% 0% 3% 0%;
    }
    #page {
        margin: 1% 2% 1% 2%;
    }
    #overlay_img {
        object-fit: contain;
        width: 98vw;
        max-height: 98vh;
        max-width: 98vw;
        justify-content: center;
        justify-items: center;
        border-radius: 0px;
    }
    .header #header_left {
        font-size: 0.6em;
    }
    .header #header_right {
        font-size: 1em;
    }
    .header #home {
        font-size: 1.5em;
        letter-spacing: 0em;
        font-weight: 300;
    }
    #menu {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        height: auto;
    }
    #menu .frame {
        width: 48vw;
        height: 100%;
        margin-bottom: 1%;
    }
    #content {
        margin: 0%;
        justify-content: center;
    }
    #photos {
        height: auto;
        width: 100%;
    }
    #photos div {
        height: 100%;
    }*/

@media screen and (max-width: 980px) {
    body {
        margin: 3% 0% 3% 0%;
    }
    #page {
        margin: 1% 2% 1% 2%;
    }
    #overlay_img {
        object-fit: contain;
        width: 98vw;
        max-height: 98vh;
        max-width: 98vw;
        justify-content: center;
        justify-items: center;
        border-radius: 0px;
    }
    .header #header_left {
        font-size: 0.6em;
    }
    .header #header_right {
        font-size: 1em;
    }
    .header #home {
        font-size: 1.5em;
        letter-spacing: 0em;
        font-weight: 300;
    }
    #menu {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        height: auto;
    }
    #menu .frame {
        width: 48vw;
        height: 100%;
        margin-bottom: 1%;
    }
    #content {
        margin: 0%;
        justify-content: center;
        flex-direction: column;
        height: 80vh;
    }
    #photos_scroll {
        overflow-x: auto;
        width: 100%;
        height: auto;
        margin-top: 5%;
    }
    #photos {
        height: 100%;
        width: 100%;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
    }
    #photos div {
        height: 100%;
        margin-bottom: 0%;
        margin-right: 4%;
    }
    #thumbs_scroll {
        overflow-x: auto;
        height: auto%;
        width: 100%;
        margin-left: 0%;
        margin-top: 5%;
    }
    #thumbs {
        overflow-x: auto;
        flex-direction: row;
        flex-wrap: nowrap;
        height: auto;
        justify-content: flex-start;
    }
    #thumbs div {
        margin-bottom: 0%;
        margin-right: 2%;
    }
    .frame img {
        object-fit: contain;
        width: auto;
        height: 100%;
        justify-content: center;
        border-radius: 0px;
    }
    #thumbs .frame img {
        object-fit: contain;
        width: auto;
        height: 20vw;
        justify-content: center;
        border-radius: 0px;
    }